html
    head
        title= title
    body
        h1= message
        p Welcome to #{title}
        p This is the home page of the application
        p Click on the link to go to the list of genders
        a(href='/api/genders') Genders
        p Click on the link to go to the list of customers
        a(href='/api/customers') customers