html
    head
        title= title
    body
        h1= message
        p Welcome to #{title}
        p This is the home page of the application
        p Click on the link to go to the list of users
        a(href='/users') Users